body {
	overflow-x: hidden;
	overflow-y: hidden;
}

div {
	box-sizing: border-box;
}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
	box-sizing: border-box;
}

.card {
	width: auto;
	height: auto;
	max-width: 15vh;
	max-height: 21vh;
}

.player {
	position: relative;
	height: 47%;
	background-color: #005;
}

.deck {
	width: 100px;
	height: 140px;
	background-image: url("../res/img/cardback.svg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.graveyard {
	width: 100px;
	height: 140px;
	background-color: #222;
}

.stats {
	position: absolute;
	width: 500px;
	height: 50px;
	right: 0;
	background-color: #008;
}

#p1_stats {
	bottom: 0;
}

#p2_stats {
	top: 0;
}

#player1.priority > .stats {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}

#player2.priority > .stats {
	border-top: 2px solid white;
	border-right: 2px solid white;
}

#selection {
	position: absolute;
	top: 0;
	left: 0;
	width: 15vw;
	height: 50vh;
	background-color: #888;
}

#log {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 15vw;
	height: 60vh;
	background-color: #111;
}

#battlefield {
	position: absolute;
	top: 0;
	left: 15vw;
	width: 65vw;
	height: 79vh;
}

#phases {
	width: 100%;
	height: 6%;
	background-color: #044;
}

#hand {
	position: absolute;
	bottom: 0;
	left: 15vw;
	width: 65vw;
	height: 21vh;
	background-color: #050;
	overflow-y: hidden;
}

#stack {
	position: absolute;
	top: 0;
	right: 0;
	width: 20vw;
	height: 100vh;
	background-color: #500;
}

.priority {
	outline-offset: -2px;
	outline: 2px solid white;
}

.active {
	background-color: #337;
}

.selected {
	outline-offset: -3px;
	outline: 3px solid red;
}