@font-face {
	font-family: "Beleren";
	src: url("../res/fonts/beleren-bold-webfont.ttf") format("truetype");
}

@font-face {
	font-family: "Beleren Smallcaps";
	src: url("../res/fonts/belerensmallcaps-bold-webfont.ttf") format("truetype");
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Beleren";
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
	box-sizing: border-box;
}

div {
	box-sizing: border-box;
}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
}

.card {
	width: auto;
	height: auto;
	max-width: 15vh;
	max-height: 21vh;
	cursor: pointer;
}

.action {
	padding: 5px;
	color: black;
	cursor: pointer;
	border: 1px solid black;
	background-color: #EEE;
}

.player {
	position: relative;
	height: 47%;
	background-color: #005;
}

.deck {
	width: 100px;
	height: 140px;
	background-image: url("../res/img/cardback.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
}

.graveyard {
	width: 100px;
	height: 140px;
	background-color: #222;
}

.battlefield img {

}

.stats {
	position: absolute;
	width: 500px;
	height: 50px;
	right: 0;
	background-color: #008;
	color: white;
}

.stats img {
	padding-top: 10px;
	padding-left: 10px;
	height: 25px;
	width: 25px;
}

.library_space {
	float: left;
}

#p2_graveyard {
	float: left;
}

#p1_stats {
	top: 0;
}

#p2_stats {
	bottom: 0;
}

#player1.priority > .stats {
	border-top: 2px solid white;
	border-right: 2px solid white;
}

#player2.priority > .stats {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}

#selection {
	position: absolute;
	top: 0;
	left: 0;
	width: 15vw;
	height: 50vh;
	background-color: #888;
}

#log {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 15vw;
	height: 60vh;
	background-color: #bfbfbf;
}

#board {
	position: absolute;
	top: 0;
	left: 15vw;
	width: 65vw;
	height: 79vh;
}

#phases {
	width: 100%;
	height: 6%;
	background-color: #044;
}

#hand {
	position: absolute;
	bottom: 0;
	left: 15vw;
	width: 65vw;
	height: 21vh;
	background-color: #050;
	overflow-y: hidden;
}

#stack {
	padding: 15px;
	position: absolute;
	top: 0;
	right: 0;
	width: 20vw;
	height: 100vh;
	background-color: #500;
	color: #FFF;
}

.player.priority {
	outline-offset: -2px;
	outline: 2px solid white;
}

.player.active {
	background-color: #337;
}

.selected {
	outline-offset: -3px;
	outline: 3px solid red;
}

/* Style the list */
ul.tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ccc;
}

/* Float the list items side by side */
ul.tabs li {
	float: left;
	display: inline-block;
	color: black;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 15px;
	width: 7.5vw;
}

/* Change background color of links on hover */
ul.tabs li:hover {background-color: #ddd; cursor: pointer;}

/* Create an active/current tablink class */
ul.tabs li:focus, .js-current {background-color: #bfbfbf;}

/* Style the tab content */
.tab-panels {
	padding: 6px 12px;
}

#selection-name {
	text-align: center;
	padding-top: 10px;
	font-size: 130%;
}

#selection-type {
	text-align: center;
	margin: 6px 12px;
	font-size: small;
}

#selection-text {
	margin-left: 5px;
	margin-right: 5px;
}

#selection-text > img {
	height: .8em;
	width: .8em;
}