#selection,
#log,
#player2,
#phases,
#player1,
#hand,
#stack {
	position: absolute;
}

#selection {
	left:    0vw;
	width:  15vw;
	top:     0vh;
	height: 50vh;
}

#log {
	left:    0vw;
	width:  15vw;
	top:    50vh;
	height: 50vh;
}

#player2 {
	left:   15vw;
	width:  65vw;
	top:     0vh;
	height: 36vh;
}

#phases {
	left:   15vw;
	width:  65vw;
	top:    36vh;
	height:  7vh;
}

#player1 {
	left:   15vw;
	width:  65vw;
	top:    43vh;
	height: 36vh;
}

#hand {
	left:   15vw;
	width:  65vw;
	top:    79vh;
	height: 21vh;
}

#stack {
	left:   80vw;
	width:  20vw;
	top:     0vh;
	height:100vh;
}

/* both #players */
.library,
.graveyard,
.battlefield-land,
.battlefield-nonland,
.stats {
	position: absolute;
}

#player2 > .library {
	left:    0vw;
	top:     0vh;
	width:  13vh;
	height: 18vh;
}

#player2 > .graveyard {
	left:    0vw;
	bottom:  0vh;
	width:  13vh;
	height: 18vh;
}

#player2 > .battlefield-land {
	left:   15vh;
	width:  auto;
	top:     0vh;
	height: 15vh;
}

#player2 > .battlefield-nonland {
	left:   15vh;
	width:  auto;
	top:    15vh;
	height: 15vh;
}

#player2 > .stats {
	right:   0vw;
	width:  auto;
	top:    30vh;
	height:  6vh;
}

#player1 > .library {
	left:    0vw;
	bottom:  0vh;
	width:  13vh;
	height: 18vh;
}

#player1 > .graveyard {
	left:    0vw;
	top:     0vh;
	width:  13vh;
	height: 18vh;
}

#player1 > .stats {
	right:   0vw;
	width:  auto;
	top:     0vh;
	height:  6vh;
}

#player1 > .battlefield-nonland {
	left:   15vh;
	width:  auto;
	top:     6vh;
	height: 15vh;
}

#player1 > .battlefield-land {
	left:   15vh;
	width:  auto;
	top:    21vh;
	height: 15vh;
}

.player .stats * {
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px;
}

.player .stats img {
	padding: 1vh;
	height: 4vh;
	width: 4vh;
}

.battlefield-land > img,
.battlefield-nonland > img {
	max-height: 15vh;
}

#hand .card {
	float: left;
	width: auto;
	height: 21vh;
}

.tapped {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}